.Board {
  margin: 0 auto;
  border: 10px;
  border-color: black;
}

.winner {
  background-color:darkblue;
  color: aliceblue;
  text-align: center;
  align-content: flex-start;
  vertical-align: middle;
  align-items: center;
  font-size: 50px;
  align-self: center;
}